.userCard{
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: bisque;
  margin: 2%;
  padding: 2%;
  color: darkolivegreen;
  font-weight: bold;
  font-size: 1.25rem;
  
}

.headingContent{
  align-items: center;
  text-align: center;
  background-color: darkorange;
  margin: 2%;
  padding: 2%;
  font-size: 2rem;
  color: grey;
}

.mainContent{
  align-items: center;
  justify-content: center;
}